USE [QuanLyDiaPhimCaNhac_Edited]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDonHang] [int] NOT NULL,
	[MaDia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaSanPham]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSanPham](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaDia] [int] NOT NULL,
	[DiemDanhGia] [int] NOT NULL,
	[BinhLuan] [nvarchar](1000) NULL,
	[NgayDanhGia] [datetime] NOT NULL,
 CONSTRAINT [PK_DanhGiaSanPham] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaPhimCaNhac]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaPhimCaNhac](
	[MaDia] [int] IDENTITY(1,1) NOT NULL,
	[TenDia] [nvarchar](200) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayPhatHanh] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[AnhBia] [nvarchar](255) NULL,
	[SoLuongTon] [int] NOT NULL,
	[ThoiLuong] [int] NULL,
	[ChatLuong] [nvarchar](20) NULL,
	[NgonNgu] [nvarchar](50) NULL,
	[MaLoaiDia] [int] NOT NULL,
	[MaNhaSanXuat] [int] NOT NULL,
	[LaDiaPhim] [bit] NOT NULL,
	[DanhGia] [decimal](2, 1) NULL,
	[SoLuotXem] [int] NULL,
	[TrangThai] [bit] NOT NULL,
	[LaSanPhamNoiBat] [bit] NOT NULL,
	[MaNguoiBan] [int] NULL,
 CONSTRAINT [PK_DiaPhimCaNhac] PRIMARY KEY CLUSTERED 
(
	[MaDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[NgayGiao] [datetime] NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[DaThanhToan] [bit] NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TinhTrangGiaoHang] [int] NOT NULL,
	[DiaChiGiao] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[MaKH] [int] NOT NULL,
	[MaNguoiBan] [int] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichThanhToan]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichThanhToan](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaThanhToan] [varchar](50) NULL,
	[NgayThanhToan] [datetime] NULL,
	[SoTien] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_GiaoDichThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaKH] [int] NOT NULL,
	[MaDia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayThem] [datetime] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DienThoai] [varchar](20) NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayDangKy] [datetime] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuyenMai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[GiaGiam] [decimal](18, 2) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[MaDia] [int] NULL,
	[MaNguoiBan] [int] NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDia]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDia](
	[MaLoaiDia] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiDia] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_LoaiDia] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NgheSi]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgheSi](
	[MaNgheSi] [int] IDENTITY(1,1) NOT NULL,
	[TenNgheSi] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[QuocTich] [nvarchar](50) NULL,
	[TieuSu] [nvarchar](max) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
 CONSTRAINT [PK_NgheSi] PRIMARY KEY CLUSTERED 
(
	[MaNgheSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiBan]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiBan](
	[MaNguoiBan] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[NgayDangKy] [datetime] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_NguoiBan] PRIMARY KEY CLUSTERED 
(
	[MaNguoiBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNhaSanXuat] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaSanXuat] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Website] [varchar](255) NULL,
 CONSTRAINT [PK_NhaSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNhaSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThamGiaThucHien]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamGiaThucHien](
	[MaDia] [int] NOT NULL,
	[MaNgheSi] [int] NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_ThamGiaThucHien] PRIMARY KEY CLUSTERED 
(
	[MaDia] ASC,
	[MaNgheSi] ASC,
	[VaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiGiaoHang]    Script Date: 4/29/2026 12:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiGiaoHang](
	[MaTrangThai] [int] NOT NULL,
	[TenTrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TrangThaiGiaoHang] PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaDia], [SoLuong], [DonGia]) VALUES (1, 1, 1, CAST(299000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaDia], [SoLuong], [DonGia]) VALUES (1, 2, 1, CAST(199000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaDia], [SoLuong], [DonGia]) VALUES (2, 3, 1, CAST(249000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[DanhGiaSanPham] ON 

INSERT [dbo].[DanhGiaSanPham] ([MaDanhGia], [MaKH], [MaDia], [DiemDanhGia], [BinhLuan], [NgayDanhGia]) VALUES (1, 1, 1, 5, N'Phim rất hay, hành động gay cấn, đáng xem!', CAST(N'2023-10-04T20:30:00.000' AS DateTime))
INSERT [dbo].[DanhGiaSanPham] ([MaDanhGia], [MaKH], [MaDia], [DiemDanhGia], [BinhLuan], [NgayDanhGia]) VALUES (2, 1, 2, 4, N'Album tuyệt vời của Sơn Tùng, nghe rất cuốn', CAST(N'2023-10-04T21:15:00.000' AS DateTime))
INSERT [dbo].[DanhGiaSanPham] ([MaDanhGia], [MaKH], [MaDia], [DiemDanhGia], [BinhLuan], [NgayDanhGia]) VALUES (3, 2, 3, 5, N'Inception là một kiệt tác điện ảnh, không thể bỏ qua', CAST(N'2023-10-05T19:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhGiaSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaPhimCaNhac] ON 

INSERT [dbo].[DiaPhimCaNhac] ([MaDia], [TenDia], [GiaBan], [MoTa], [NgayPhatHanh], [NgayCapNhat], [AnhBia], [SoLuongTon], [ThoiLuong], [ChatLuong], [NgonNgu], [MaLoaiDia], [MaNhaSanXuat], [LaDiaPhim], [DanhGia], [SoLuotXem], [TrangThai], [LaSanPhamNoiBat], [MaNguoiBan]) VALUES (1, N'Mission Impossible 7', CAST(0.00 AS Decimal(18, 2)), N'Phim hành động gay cấn với sự tham gia của Tom Cruise edited', NULL, CAST(N'2025-12-10T08:27:23.377' AS DateTime), N'mi7.jpg', 0, NULL, NULL, NULL, 1, 3, 0, CAST(4.5 AS Decimal(2, 1)), 1279, 0, 0, 3)
INSERT [dbo].[DiaPhimCaNhac] ([MaDia], [TenDia], [GiaBan], [MoTa], [NgayPhatHanh], [NgayCapNhat], [AnhBia], [SoLuongTon], [ThoiLuong], [ChatLuong], [NgonNgu], [MaLoaiDia], [MaNhaSanXuat], [LaDiaPhim], [DanhGia], [SoLuotXem], [TrangThai], [LaSanPhamNoiBat], [MaNguoiBan]) VALUES (2, N'Album Sky - Sơn Tùng M-TP', CAST(199000.00 AS Decimal(18, 2)), N'Album nhạc mới nhất của Sơn Tùng M-TP', CAST(N'2023-06-15T00:00:00.000' AS DateTime), CAST(N'2025-10-20T21:07:12.110' AS DateTime), N'sky.jpg', 94, 45, N'HD', N'Tiếng Việt', 5, 1, 0, CAST(4.8 AS Decimal(2, 1)), 2526, 1, 0, 1)
INSERT [dbo].[DiaPhimCaNhac] ([MaDia], [TenDia], [GiaBan], [MoTa], [NgayPhatHanh], [NgayCapNhat], [AnhBia], [SoLuongTon], [ThoiLuong], [ChatLuong], [NgonNgu], [MaLoaiDia], [MaNhaSanXuat], [LaDiaPhim], [DanhGia], [SoLuotXem], [TrangThai], [LaSanPhamNoiBat], [MaNguoiBan]) VALUES (3, N'Inception', CAST(0.00 AS Decimal(18, 2)), N'Bộ phim khoa học viễn tưởng của đạo diễn Christopher Nolan', NULL, CAST(N'2025-11-30T17:35:53.887' AS DateTime), N'inception.jpg', 0, NULL, NULL, NULL, 1, 3, 0, CAST(4.9 AS Decimal(2, 1)), 3554, 0, 0, 3)
SET IDENTITY_INSERT [dbo].[DiaPhimCaNhac] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [NgayDat], [NgayGiao], [TongTien], [DaThanhToan], [PhuongThucThanhToan], [TinhTrangGiaoHang], [DiaChiGiao], [GhiChu], [MaKH], [MaNguoiBan]) VALUES (1, CAST(N'2023-10-01T10:30:00.000' AS DateTime), CAST(N'2023-10-03T14:20:00.000' AS DateTime), CAST(498000.00 AS Decimal(18, 2)), 1, N'Chuyển khoản', 2, N'123 Lê Lợi, Q.1, TP.HCM', N'Giao hàng trong giờ hành chính', 1, 1)
INSERT [dbo].[DonHang] ([MaDonHang], [NgayDat], [NgayGiao], [TongTien], [DaThanhToan], [PhuongThucThanhToan], [TinhTrangGiaoHang], [DiaChiGiao], [GhiChu], [MaKH], [MaNguoiBan]) VALUES (2, CAST(N'2023-10-02T09:15:00.000' AS DateTime), CAST(N'2023-10-04T16:45:00.000' AS DateTime), CAST(368000.00 AS Decimal(18, 2)), 1, N'Tiền mặt', 2, N'456 Nguyễn Huệ, Q.1, TP.HCM', N'Khách yêu cầu kiểm tra hàng trước khi thanh toán', 2, 1)
INSERT [dbo].[DonHang] ([MaDonHang], [NgayDat], [NgayGiao], [TongTien], [DaThanhToan], [PhuongThucThanhToan], [TinhTrangGiaoHang], [DiaChiGiao], [GhiChu], [MaKH], [MaNguoiBan]) VALUES (3, CAST(N'2023-10-03T14:20:00.000' AS DateTime), NULL, CAST(249000.00 AS Decimal(18, 2)), 0, N'Thẻ tín dụng', 1, N'789 Trần Hưng Đạo, Q.5, TP.HCM', N'Đang xử lý giao hàng', 3, 2)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaoDichThanhToan] ON 

INSERT [dbo].[GiaoDichThanhToan] ([MaGiaoDich], [MaDonHang], [MaThanhToan], [NgayThanhToan], [SoTien], [TrangThai]) VALUES (1, 1, N'TT20231001-1', CAST(N'2023-10-01T10:35:00.000' AS DateTime), CAST(498000.00 AS Decimal(18, 2)), N'Hoàn tất')
INSERT [dbo].[GiaoDichThanhToan] ([MaGiaoDich], [MaDonHang], [MaThanhToan], [NgayThanhToan], [SoTien], [TrangThai]) VALUES (2, 2, N'TT20231002-1', CAST(N'2023-10-02T09:20:00.000' AS DateTime), CAST(368000.00 AS Decimal(18, 2)), N'Hoàn tất')
INSERT [dbo].[GiaoDichThanhToan] ([MaGiaoDich], [MaDonHang], [MaThanhToan], [NgayThanhToan], [SoTien], [TrangThai]) VALUES (3, 4, N'TT20231004-1', CAST(N'2023-10-04T11:50:00.000' AS DateTime), CAST(328000.00 AS Decimal(18, 2)), N'Hoàn tất')
SET IDENTITY_INSERT [dbo].[GiaoDichThanhToan] OFF
GO
INSERT [dbo].[GioHang] ([MaKH], [MaDia], [SoLuong], [NgayThem]) VALUES (1, 13, 1, CAST(N'2025-11-13T11:12:30.937' AS DateTime))
INSERT [dbo].[GioHang] ([MaKH], [MaDia], [SoLuong], [NgayThem]) VALUES (2, 2, 2, CAST(N'2023-09-29T10:30:00.000' AS DateTime))
INSERT [dbo].[GioHang] ([MaKH], [MaDia], [SoLuong], [NgayThem]) VALUES (5, 6, 1, CAST(N'2023-10-01T16:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DienThoai], [TaiKhoan], [MatKhau], [Email], [DiaChi], [NgayDangKy], [TrangThai]) VALUES (1, N'Nguyễn Văn An', CAST(N'1990-05-15T00:00:00.000' AS DateTime), N'Nam', N'0911234567', N'nguyenvanan', N'123456', N'an.nguyen@email.com', N'123 Lê Lợi, Q.1, TP.HCM', CAST(N'2023-01-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DienThoai], [TaiKhoan], [MatKhau], [Email], [DiaChi], [NgayDangKy], [TrangThai]) VALUES (2, N'Trần Thị Bình', CAST(N'1995-08-20T00:00:00.000' AS DateTime), N'Nữ', N'0922345678', N'tranthibinh', N'123456', N'binh.tran@email.com', N'456 Nguyễn Huệ, Q.1, TP.HCM', CAST(N'2023-02-10T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DienThoai], [TaiKhoan], [MatKhau], [Email], [DiaChi], [NgayDangKy], [TrangThai]) VALUES (3, N'Lê Hoàng Cường', CAST(N'1988-12-03T00:00:00.000' AS DateTime), N'Nam', N'0933456789', N'lehoangcuong', N'123456', N'cuong.le@email.com', N'789 Trần Hưng Đạo, Q.5, TP.HCM', CAST(N'2023-03-05T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [MoTa], [GiaGiam], [NgayBatDau], [NgayKetThuc], [MaDia], [MaNguoiBan]) VALUES (1, N'KM Mùa Lễ 10%', N'Giảm 10% cho phim hành động chọn lọc', CAST(0.10 AS Decimal(18, 2)), CAST(N'2023-12-20T00:00:00.000' AS DateTime), CAST(N'2024-01-10T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [MoTa], [GiaGiam], [NgayBatDau], [NgayKetThuc], [MaDia], [MaNguoiBan]) VALUES (2, N'KM Album HOT', N'Giảm 20k cho album VN', CAST(20000.00 AS Decimal(18, 2)), CAST(N'2023-11-01T00:00:00.000' AS DateTime), CAST(N'2023-11-30T00:00:00.000' AS DateTime), 2, 2)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [MoTa], [GiaGiam], [NgayBatDau], [NgayKetThuc], [MaDia], [MaNguoiBan]) VALUES (3, N'KM Tết Ưu Đãi', N'Giảm 15% cho đĩa chọn lọc', CAST(0.15 AS Decimal(18, 2)), CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-02-10T00:00:00.000' AS DateTime), 6, 3)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiDia] ON 

INSERT [dbo].[LoaiDia] ([MaLoaiDia], [TenLoaiDia], [MoTa]) VALUES (1, N'Đĩa Phim Hành Động', N'Các bộ phim thuộc thể loại hành động, phiêu lưu')
INSERT [dbo].[LoaiDia] ([MaLoaiDia], [TenLoaiDia], [MoTa]) VALUES (2, N'Đĩa Phim Tình Cảm', N'Các bộ phim thuộc thể loại tình cảm, lãng mạn')
INSERT [dbo].[LoaiDia] ([MaLoaiDia], [TenLoaiDia], [MoTa]) VALUES (3, N'Đĩa Phim Kinh Dị', N'Các bộ phim thuộc thể loại kinh dị, ma quái')
SET IDENTITY_INSERT [dbo].[LoaiDia] OFF
GO
SET IDENTITY_INSERT [dbo].[NgheSi] ON 

INSERT [dbo].[NgheSi] ([MaNgheSi], [TenNgheSi], [NgaySinh], [QuocTich], [TieuSu], [AnhDaiDien]) VALUES (1, N'Sơn Tùng M-TP', CAST(N'1994-07-05T00:00:00.000' AS DateTime), N'Việt Nam', N'Ca sĩ, nhạc sĩ nổi tiếng Việt Nam', N'sontung.jpg')
INSERT [dbo].[NgheSi] ([MaNgheSi], [TenNgheSi], [NgaySinh], [QuocTich], [TieuSu], [AnhDaiDien]) VALUES (2, N'Mỹ Tâm', CAST(N'1981-01-16T00:00:00.000' AS DateTime), N'Việt Nam', N'Nữ ca sĩ hàng đầu Việt Nam', N'mytam.jpg')
INSERT [dbo].[NgheSi] ([MaNgheSi], [TenNgheSi], [NgaySinh], [QuocTich], [TieuSu], [AnhDaiDien]) VALUES (3, N'Tom Cruise', CAST(N'1962-07-03T00:00:00.000' AS DateTime), N'Mỹ', N'Diễn viên Hollywood nổi tiếng', N'tomcruise.jpg')
SET IDENTITY_INSERT [dbo].[NgheSi] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiBan] ON 

INSERT [dbo].[NguoiBan] ([MaNguoiBan], [HoTen], [TaiKhoan], [MatKhau], [Email], [NgayDangKy], [TrangThai]) VALUES (1, N'Nguyễn Thị Bích Hằng', N'bichhang', N'pb123456', N'bichhang@shop.vn', CAST(N'2023-05-10T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[NguoiBan] ([MaNguoiBan], [HoTen], [TaiKhoan], [MatKhau], [Email], [NgayDangKy], [TrangThai]) VALUES (2, N'Trần Văn Quang', N'tranquang', N'pq123456', N'quang.seller@email.com', CAST(N'2023-06-20T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[NguoiBan] ([MaNguoiBan], [HoTen], [TaiKhoan], [MatKhau], [Email], [NgayDangKy], [TrangThai]) VALUES (3, N'Lê Minh Sơn', N'leminhson', N'ms123456', N'son.seller@email.com', CAST(N'2023-07-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[NguoiBan] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaSanXuat] ON 

INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [DiaChi], [DienThoai], [Email], [Website]) VALUES (1, N'Galaxy Entertainment', N'123 Nguyễn Huệ, Q.1, TP.HCM', N'0901234567', N'info@galaxy.vn', N'www.galaxy.vn')
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [DiaChi], [DienThoai], [Email], [Website]) VALUES (2, N'Sony Music Entertainment', N'456 Lê Lợi, Q.1, TP.HCM', N'0902345678', N'contact@sony.vn', N'www.sonymusic.vn')
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [DiaChi], [DienThoai], [Email], [Website]) VALUES (3, N'Universal Pictures', N'789 Trần Hưng Đạo, Q.1, TP.HCM', N'0903456789', N'info@universal.vn', N'www.universal.vn')
SET IDENTITY_INSERT [dbo].[NhaSanXuat] OFF
GO
INSERT [dbo].[ThamGiaThucHien] ([MaDia], [MaNgheSi], [VaiTro], [GhiChu]) VALUES (1, 3, N'Diễn viên chính', N'Vai Ethan Hunt')
INSERT [dbo].[ThamGiaThucHien] ([MaDia], [MaNgheSi], [VaiTro], [GhiChu]) VALUES (2, 1, N'Ca sĩ', N'Thể hiện toàn bộ album')
INSERT [dbo].[ThamGiaThucHien] ([MaDia], [MaNgheSi], [VaiTro], [GhiChu]) VALUES (3, 4, N'Diễn viên chính', N'Vai Dom Cobb')
GO
INSERT [dbo].[TrangThaiGiaoHang] ([MaTrangThai], [TenTrangThai]) VALUES (0, N'Chờ xử lý')
INSERT [dbo].[TrangThaiGiaoHang] ([MaTrangThai], [TenTrangThai]) VALUES (1, N'Đang giao')
INSERT [dbo].[TrangThaiGiaoHang] ([MaTrangThai], [TenTrangThai]) VALUES (2, N'Đã giao')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A9D105340FCEDC74]    Script Date: 4/29/2026 12:05:38 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__D5B8C7F0E5CB675A]    Script Date: 4/29/2026 12:05:38 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiBan__A9D1053408E009DE]    Script Date: 4/29/2026 12:05:38 PM ******/
ALTER TABLE [dbo].[NguoiBan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiBan__D5B8C7F0827E6A40]    Script Date: 4/29/2026 12:05:38 PM ******/
ALTER TABLE [dbo].[NguoiBan] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DanhGiaSanPham] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DiaPhimCaNhac] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[DiaPhimCaNhac] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[DiaPhimCaNhac] ADD  DEFAULT ((0)) FOR [LaDiaPhim]
GO
ALTER TABLE [dbo].[DiaPhimCaNhac] ADD  DEFAULT ((0)) FOR [SoLuotXem]
GO
ALTER TABLE [dbo].[DiaPhimCaNhac] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DiaPhimCaNhac] ADD  DEFAULT ((0)) FOR [LaSanPhamNoiBat]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TinhTrangGiaoHang]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiBan] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[NguoiBan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DiaPhimCaNhac] FOREIGN KEY([MaDia])
REFERENCES [dbo].[DiaPhimCaNhac] ([MaDia])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DiaPhimCaNhac]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPham_DiaPhimCaNhac] FOREIGN KEY([MaDia])
REFERENCES [dbo].[DiaPhimCaNhac] ([MaDia])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGiaSanPham_DiaPhimCaNhac]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPham_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGiaSanPham_KhachHang]
GO
ALTER TABLE [dbo].[DiaPhimCaNhac]  WITH CHECK ADD  CONSTRAINT [FK_DiaPhimCaNhac_LoaiDia] FOREIGN KEY([MaLoaiDia])
REFERENCES [dbo].[LoaiDia] ([MaLoaiDia])
GO
ALTER TABLE [dbo].[DiaPhimCaNhac] CHECK CONSTRAINT [FK_DiaPhimCaNhac_LoaiDia]
GO
ALTER TABLE [dbo].[DiaPhimCaNhac]  WITH CHECK ADD  CONSTRAINT [FK_DiaPhimCaNhac_NguoiBan] FOREIGN KEY([MaNguoiBan])
REFERENCES [dbo].[NguoiBan] ([MaNguoiBan])
GO
ALTER TABLE [dbo].[DiaPhimCaNhac] CHECK CONSTRAINT [FK_DiaPhimCaNhac_NguoiBan]
GO
ALTER TABLE [dbo].[DiaPhimCaNhac]  WITH CHECK ADD  CONSTRAINT [FK_DiaPhimCaNhac_NhaSanXuat] FOREIGN KEY([MaNhaSanXuat])
REFERENCES [dbo].[NhaSanXuat] ([MaNhaSanXuat])
GO
ALTER TABLE [dbo].[DiaPhimCaNhac] CHECK CONSTRAINT [FK_DiaPhimCaNhac_NhaSanXuat]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiBan] FOREIGN KEY([MaNguoiBan])
REFERENCES [dbo].[NguoiBan] ([MaNguoiBan])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiBan]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TrangThaiGiaoHang] FOREIGN KEY([TinhTrangGiaoHang])
REFERENCES [dbo].[TrangThaiGiaoHang] ([MaTrangThai])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TrangThaiGiaoHang]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDichThanhToan_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[GiaoDichThanhToan] CHECK CONSTRAINT [FK_GiaoDichThanhToan_DonHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_DiaPhimCaNhac] FOREIGN KEY([MaDia])
REFERENCES [dbo].[DiaPhimCaNhac] ([MaDia])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_DiaPhimCaNhac]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_DiaPhimCaNhac] FOREIGN KEY([MaDia])
REFERENCES [dbo].[DiaPhimCaNhac] ([MaDia])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_DiaPhimCaNhac]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_NguoiBan] FOREIGN KEY([MaNguoiBan])
REFERENCES [dbo].[NguoiBan] ([MaNguoiBan])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_NguoiBan]
GO
ALTER TABLE [dbo].[ThamGiaThucHien]  WITH CHECK ADD  CONSTRAINT [FK_ThamGiaThucHien_DiaPhimCaNhac] FOREIGN KEY([MaDia])
REFERENCES [dbo].[DiaPhimCaNhac] ([MaDia])
GO
ALTER TABLE [dbo].[ThamGiaThucHien] CHECK CONSTRAINT [FK_ThamGiaThucHien_DiaPhimCaNhac]
GO
ALTER TABLE [dbo].[ThamGiaThucHien]  WITH CHECK ADD  CONSTRAINT [FK_ThamGiaThucHien_NgheSi] FOREIGN KEY([MaNgheSi])
REFERENCES [dbo].[NgheSi] ([MaNgheSi])
GO
ALTER TABLE [dbo].[ThamGiaThucHien] CHECK CONSTRAINT [FK_ThamGiaThucHien_NgheSi]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD CHECK  (([DiemDanhGia]>=(1) AND [DiemDanhGia]<=(5)))
GO
ALTER TABLE [dbo].[DiaPhimCaNhac]  WITH CHECK ADD CHECK  (([DanhGia]>=(0) AND [DanhGia]<=(5)))
GO
